#wrapper {
  width: 850px;
  height: 600px;
  background-color: #c00;
  margin:0 auto;
  overflow: hidden;
}

#canvas {
  width: 700px;
  height: 500px;
  background-color: #ccc;
  margin: 30px auto;
}

nav {
  background-color: blue;
  overflow: hidden;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float: left;
}

nav ul li {
  float: left;
  display: block;
  position: relative;
  right: 50%;
}

nav ul li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  font-family: Calibri, sans-serif;
}

nav ul li a:hover{
  background-color: black;
}

#onpage{
  background-color: cyan;
  text-decoration: underline;
}

body {
  background: linear-gradient(to bottom,  #fceabb 0%,#f8b500 49%,#fbdf93 100%);
  margin: 10px;
  font-family: Georgia, sans-serif;
}

h1 {
  color: gray;
  background-color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

h2, h3, h4 {
  font-family: Verdana, sans-serif;
  font-size: 1.2rem;
  text-decoration: underline;
}

img {
  height: 12rem;
  position: relative;
}

iframe {
  height: 15rem;
  float: right;
}